@charset "utf-8";
/* CSS Document */
.center .progressBar{
    background: transparent;
    width:250px;
    height:12px;
    border: 2px solid #fff;
    border-radius: 6px;
}
.progressBar:hover{
    cursor: pointer;
}
.progressBar .currentBar {
    background: rgba(0,0,0,0.5);
    border-radius: inherit;
    height: 100%;
}
/*中间的点*/
.currentBar .circle{
    position: absolute;
    transform: translate(80%,-42%);
}


