@charset "utf-8";
/* CSS Document */
.songFlow{
	width:100%;
	height:22px;
	overflow: hidden;
	position: relative;
}

.lyric{
	font-size: 18px;
	position: relative;
	left:300px;
	font-weight: bold;
	
}
.lyric.flow{
	animation: flowSong 25s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes flowSong{
	0%{
		left:300px;
	}
	33.33%{
		left:0px;
	}
	66.66%{
		left:0px;
	}
	100%{
		left:-300px;
	}
}	
